body {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box;
  background: rgba(251, 250, 251, 1);
  color: rgba(76, 76, 76, 1); */
  font-family: Roboto, sans-serif;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

@mixin center-form {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-text {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 200;
}

.sign-wrapper {
  @include center-form;
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;
  margin: 0;
  padding: 20px;
  border: 1px solid rgba(219, 219, 219, 1);
  font-weight: 300;
}

.sign-in-button {
  margin: 5px;
  margin-top: 30px;
}


.sign-up-button {
  margin: 5px;
  margin-top: 30px;
}

.back-sign-up-button {
  margin: 5px;
}

.spinner {
  @include center-form;
}

.no-posts-text {
  @include center-form;
  font-weight: 100;
  font-size: 50px;
  color: rgba(219, 219, 219, 0.9);
}

.logo-text {
  @include center-text;
  font-size: 20px;
  text-transform: uppercase;
}

.slogan-text {
  @include center-text;
  font-size: 14;
  text-transform: lowercase;
}

/* HSL */
$color1: hsla(0%, 0%, 82%, 1);
$color2: hsla(0%, 0%, 86%, 1);
$color3: hsla(204%, 81%, 74%, 1);
$color4: hsla(0%, 0%, 39%, 1);
$color5: hsla(0%, 0%, 30%, 1);

/* RGB */
$color1: rgba(209, 209, 209, 1);
$color2: rgba(219, 219, 219, 1);
$color3: rgba(133, 199, 242, 1);
$color4: rgba(99, 99, 99, 1);
$color5: rgba(76, 76, 76, 1);
